<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isSearchbarOpened">
      Rent  
    </ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" ></ion-searchbar>
  <ion-button size="small" fill="clear" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true" slot="end">
   <ion-icon slot="icon-only" class="search"name="search"></ion-icon>
  </ion-button>
    <ion-button routerLink="/cart" fill="clear" size="small" slot="end">
     <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content >
     
  <ion-card>
    <ion-card-header style="text-align: center">Categories</ion-card-header>
    <div *ngFor="let cat of items" class="category-block">
        <ion-card>
          
  <ion-row no-padding style="margin-bottom: 4px;">

      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
          {{ cat.category }}  
      </ion-col>
      <img style="max-height: 3vh; max-width:10%" src="https://via.placeholder.com/300x300"> 
    </ion-row>
  </ion-card>
  
  
      <ion-slides [options]="sliderConfig">
          <ion-slide *ngFor="let product of cat.products">
              <div *ngIf="cat.expanded">
              <ion-card >
                <ion-card-header>
                  <ion-card-subtitle style="font-size: 16px">
                      {{ product.name }} 
                  </ion-card-subtitle>
                  <ion-card-title style="font-size: 16px">
                    R{{ product.price }}
                  </ion-card-title>

                  <ion-card-content>
                    <img src="https://via.placeholder.com/300x300">
                    <ion-button >Rent</ion-button>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>

        </ion-slides>

        </div>
      </ion-card>

        <ion-slides>
        <ion-slide>
            <div >
            <ion-card >
              <ion-card-header>
                <ion-card-subtitle style="font-size: 16px">
                   Product Name 
                </ion-card-subtitle>
                <ion-card-title style="font-size: 12px">
                  R00-00
                </ion-card-title>
                <ion-card-content>
                  <img  src="https://via.placeholder.com/300x300">
                  <ion-button  >Rent</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-slide>

      </ion-slides>
    
</ion-content>
