<ion-content>

    <ion-list>
        <ion-list-header>Add on tools</ion-list-header>
     
                  <ion-item>
                    <ion-label>Tools</ion-label>
                    <ion-select  [compareWith]="compareWith" multiple="true" >
                      <ion-select-option  *ngFor="let item of items" >{{item.cname + ' ' + item.pr}} </ion-select-option>
                    </ion-select>
                   
                  </ion-item>
                  <ion-button (click)="addToCart(product); DismissClick()">Save</ion-button>
                </ion-list>
         

<ion-button (click)="DismissClick()">Cancel</ion-button>


</ion-content>
